---
http_interactions:
- request:
    method: get
    uri: 'https://www.acenet.training/admin/api/v2/courses?access=free'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer REDACTED
      Lw-Client:
      - RECACTED
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"basics-of-machine-learning","title":"Foundations of
        Machine Learning","expires":null,"expiresType":"weeks","afterPurchase":{"type":"course","settings":{"page":null,"url":null}},"categories":["Beginner","Online
        Synchronous","Winter 2025"],"description":"Are you curious about machine learning
        but unsure where to start or whether it''s the right fit for you? Join ACENET
        for an overview of key machine learning methods, from simple models like Linear
        Regression and Decision Trees for classification to more advanced techniques
        such as Support Vector Machines and Neural Networks\u2014the foundation of
        Large Language Models.","label":"March 14, 2025 | 1:30 - 4:30 pm (Atlantic)","author":null,"courseImage":"https:\/\/lwfiles.mycourse.app\/651ebde6c37afd427e55d85f-public\/789c4400364a7d894139fa12c4fe1615.jpg","original_price":0,"discount_price":0,"final_price":0,"dripFeed":"date","identifiers":{"google_store_id":"basics_of_machine_learning","apple_store_id":"basics_of_machine_learning","slug":"basics-of-machine-learning"},"access":"free","created":1739542124.880013,"modified":1739895040.084048},{"id":"introduction-to-python-programming","title":"Introductory
        Programming with Python","expires":null,"expiresType":null,"afterPurchase":{"type":"course","settings":{"page":null,"url":null}},"categories":["Online
        Synchronous","Beginner","Winter 2025"],"description":"Join us for an engaging
        and interactive introduction to programming with Python. Whether you are a
        complete beginner or looking to strengthen your foundational knowledge, this
   [...]
