---
http_interactions:
- request:
    method: get
    uri: https://www.ace-net.ca/wp-json/acenet/v1/courses
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://www.ace-net.ca/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '16'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
    body:
      encoding: ASCII-8BIT
      string: '[{"id":2553,"slug":"introduction-to-computational-thinking","title":"Introduction
        to Computational Thinking \u2013 Dalhousie University","url":"https:\/\/www.ace-net.ca\/training-course\/introduction-to-computational-thinking\/","modified_gmt":"2026-09-14T19:24:20+00:00","course_status":"public","description":{"rendered":"<p>Computational
        thinking is an essential skill for anyone wanting to learn to program computers
        and write code. This workshop takes you through the steps involved in computational
        thinking, learning how to break down complex problems into smaller parts,
        identify patterns, and design logical solutions that a computer can execute.
        Through hands-on activities, you practice techniques such as problem decomposition,
        abstraction, and algorithmic thinking. By the end of the session, you have
        a stronger foundation for approaching programming tasks with confidence, setting
        the stage for future coding and data-driven learning.<\/p>\n","plain":"Computational
        thinking is an essential skill for anyone wanting to learn to program computers
        and write code. This workshop takes you through the steps involved in computational
        thinking, learning how to break down complex problems into smaller parts,
        identify patterns, and design logical solutions that a computer can execute.
        Through hands-on activities, you practice techniques such as problem decomposition,
        abstraction, and algorithmic thinking. By the end of the session, you have
        a stronger foundation for approaching programming tasks with confidence, setting
        the stage for future coding and data-driven learning."},"short_description":"Workshop
        on computational thinking, guiding participants to break down problems, recognize
        patterns, and design logical, efficient solutions through practical exercises.","image_url":"https:\/\/lwfiles.mycourse.app\/651ebde6c37afd427e55d85f-public\/5f81a73a2569d519dcb108c96a3aceee.jpg","sessions":[{"title":"Introduction
        to Computational Thinking","date_range":"","dates":["2026-10-09"],"start":"09:00","end":"12:00","unknown":false,"unknown_message":""}],"timezone":"America\/Halifax","format":"in_person","format_label":"In
        Person","location":"Dalhousie Life Sciences Centre (6287 Alumni Crescent),
        SURGE Sandbox (LSC 02660), Halifax, NS","level":"Beginner","credential":"None","duration":"3
        Hours","prerequisites":"- No coding experience is required\r\n- An interest
        in problem-solving and creative thinking. \r\n- Basic computer skills, such
        as word processors, search engines, or spreadsheets.","learning_objectives":"-
        Identify the steps in computational thinking\r\n- Break problems into manageable
        parts\r\n- Develop a clear sequence of steps (an algorithm) to solve a problem\r\n-
        Generalize the steps to make the algorithm re-usable (abstraction)","who_should_enrol":"This
        session is designed for beginners who are curious about programming but may
        not know where to start. It\u2019s especially valuable for those exploring
        computer science or data science for the first time, or people in non-technical
        fields who want to build problem-solving and coding skills.","categories":["Beginner","Fall
        2026","In-person"],"tags":["Computational Thinking","Data Analytics","Introductory
        Programming","Skills Development","Training"],"pricing":{"is_paid":false,"original":"0","discount":"0","final":"0"},"registration_url":"https:\/\/www.acenet.training\/course\/intro-comp-thinking-sept2025"},{"id":2780,"slug":"introduction-to-computational-thinking-mun","title":"Introduction
        to Computational Thinking \u2013 Memorial University","url":"https:\/\/www.ace-net.ca\/training-course\/introduction-to-computational-thinking-mun\/","modified_gmt":"2026-09-14T19:20:09+00:00","course_status":"public","description":{"rendered":"<p>Computational
        thinking is an essential skill for anyone wanting to learn to prog[...]
