<div class="wrapper">
  <div id="sidebar" class="popout-sidebar">
    <%= render partial: 'about_nav', locals: { show: 'registering' } %>
  </div>

  <div id="content">
    <div class="about-block">
      <!-- REGISTERING CONTENT IN TESS -->
      <div id="how">
        <h2><%== t('register.registering_resources_in', site_name: TeSS::Config.site['title_short']) %></h2>
        <p><%= t('register.description_html',
                 site_name: TeSS::Config.site['title_short'],
                 contact_email: TeSS::Config.contact_email) %></p>
      </div>
    </div>

    <hr/>

    <%= render partial: 'links', locals: { show: 'registering' } %>
  </div>
</div>
