<h4><%= t('events.long') %></h4>
<ul>
  <% events.each do |event| %>
    <li>
      <%= link_to event do %>
        <%= event.title %>
        -

        <%= neatly_printed_date_range(event.start_local, event.end_local) %>
      <% end %>
    </li>
  <% end %>
</ul>