<div id="cookie-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-7">
        <%= render partial: 'common/cookie_info' %>
        <p><%= t('cookies.you_can_modify_preferences_html', url: cookies_consent_path) %></p>
      </div>

      <div class="col-lg-4 col-md-5 text-right">
        <%= link_to t('cookies.buttons.necessary'), cookies_consent_path(allow: 'necessary'),
                    method: :post, class: 'btn btn-default' %>
        <%= link_to t('cookies.buttons.all'), cookies_consent_path(allow: CookieConsent::OPTIONS.join(',')),
                    method: :post, class: 'btn btn-primary' if TeSS::Config.analytics_enabled %>
      </div>
    </div>
  </div>
</div>
